<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_onepage_controller_success_action">
        <observer name="meanbee_vip_check" instance="Meanbee\VipMembership\Observer\CheckOrderForVipMembership" />
    </event>
    <event name="meanbee_vipmembership_expired_customers">
        <observer name="meanbee_email_expired_vips" instance="Meanbee\VipMembership\Observer\EmailExpiredVipMembers"/>
    </event>
</config>
